<div class="container" style="padding-top:1.5rem;">
  <div class="inner">
    <%= Static::ViewHelpers.breadcrumb(["Fontainebleau", "/en/fontainebleau"]) %>
  </div>
</div>

<div class="container" style="margin-bottom:2rem;">
  <div class="two-col">
    <div>
      <div>
        <h1 class="page-title inner">Circuits</h1>
        <ul role="list">
          <%- circuits.each do |circuit| -%>
            <%= render_partial("circuit_list_item", "circuit" => circuit, "show_area" => true) %>
          <%- end -%>
        </ul>
      </div>
    </div>
  </div>
</div>
