<div class="container pt-6">
  <div class="inner">
    <%= Static::ViewHelpers.breadcrumb(["Fontainebleau", "/en/fontainebleau"]) %>
  </div>
</div>

<div class="container mb-8">
  <div class="two-col">
    <div>
      <div>
        <h1 class="page-title mb-4 mt-2 inner">Circuits</h1>
        <ul role="list">
          <%- circuits.each do |circuit| -%>
            <%= render_partial("circuit_list_item", "circuit" => circuit, "show_area" => true) %>
          <%- end -%>
        </ul>
      </div>
    </div>
  </div>
</div>
