<div class="container page-section">
  <div class="inner">
    <%= Static::ViewHelpers.breadcrumb(["Areas", "/areas"]) %>
  </div>
</div>

<div class="container page-section--bottom">
  <div>
    <div>
      <div>
        <h1 class="page-title inner">Circuits</h1>
        <ul role="list">
          <%- circuits.each do |circuit| -%>
            <%= render_partial("circuit_list_item", "circuit" => circuit, "show_area" => true) %>
          <%- end -%>
        </ul>
      </div>
    </div>
  </div>
</div>
