<div class="container mt-8">
  <h1 class="page-title mt-8 mb-4 inner">Fontainebleau</h1>
</div>

<div class="container pb-8">
  <div class="two-col mb-4">
    <div>
      <h2 class="section-title py-4 inner">Areas</h2>

      <div class="area-list-card">
        <ul role="list" class="divide-y">
          <%- areas.each do |area| -%>
            <li>
              <a href="/en/fontainebleau/<%= area["slug"] %>" class="area-list-item">
                <div class="area-list-item-inner">
                  <p class="area-name"><%= area["name"] %></p>
                  <div class="area-count">
                    <span><%= area["problems_count"] %></span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                    </svg>
                  </div>
                </div>
              </a>
            </li>
          <%- end -%>
        </ul>
      </div>
    </div>
  </div>
</div>
